.plan {
  border: 1px solid #e0e0e0;
  flex-basis: 270px;
  margin: 10px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1a1a1a;
}
.title-business {
  color: #008ed6;
}
.price {
  padding: 32px 0 35px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}
.price-business {
  background-color: #008ed6;
  color: #fafafa;
}
.price-count {
  color: #1a1a1a;
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
}
.price-count-business {
  color: #fafafa;
}
.price-count em {
  vertical-align: super;
  font-size: 28px;
  font-style: normal;
}
.period {
  line-height: 1;
  display: block;
  width: 100%;
  font-size: 18px;
  margin-top: 5px;
}
.description {
  padding: 45px 20px 29px;
  text-align: center;
}
.description-link {
  text-decoration: none;
  color: #337ab7;
}